<div class="container">
  <table
  >
    <thead>
      <tr>
        <th>
          NO.
        </th>
        <th>
          name
        </th>
        <th>
          item info
        </th>
        <th>
          offerを受ける
        </th>
      </tr>
    </thead>
    <tbody>
      <% %>
      <tr>
        <td>
          
        </td>
        <td>
          
        </td>
        <td>
          
        </td>
        <td>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>